@page
@{
    ViewData["Title"] = "Anime favorito";
}

<body class="bodyberseker">
    <div class="containerberserker">
        <div class="text-center mb-4">
            <h1 class="display-6 BK">Berserk</h1>
            <h3 class="text-secondary font-italic">
                "La oscura y brutal historia del guerrero Guts"
            </h3>
        </div>

        <div class="row">
            <!-- Primera columna -->
            <div class="col-md-3 mb-4">
                <div class="text-center p-3 border rounded BC-custom-card">
                    <a href="https://berserk.fandom.com/wiki/Guts" target="_blank" class="BC-custom-link">
                        <h3>Guts</h3>
                    </a>
                    <p><em><strong>"¡Yo seguiré luchando hasta el final, incluso si me arrastro por el barro!"</strong></em></p>
                    <img src="https://vignette.wikia.nocookie.net/berserk/images/f/f7/Guts_armor_manga.jpg/revision/latest?cb=20170629022500&path-prefix=es" alt="Guts" class="img-fluid BC-custom-img mt-2">
                </div>
            </div>

            <!-- Segunda columna -->
            <div class="col-md-3 mb-4">
                <div class="text-center p-3 border rounded BC-custom-card">
                    <a href="https://berserk.fandom.com/wiki/Griffith" target="_blank" class="BC-custom-link">
                        <h3>Griffith</h3>
                    </a>
                    <p><em><strong>"Un hombre que soñaba en convertirse en algo más grande..."</strong></em></p>
                    <img src="https://i.pinimg.com/736x/85/1a/30/851a3092c9ee8a124f8dbd05f4b01950.jpg" alt="Griffith" class="img-fluid BC-custom-img mt-2">
                </div>
            </div>

            <!-- Tercera columna -->
            <div class="col-md-3 mb-4">
                <div class="text-center p-3 border rounded BC-custom-card">
                    <a href="https://berserk.fandom.com/wiki/Casca" target="_blank" class="BC-custom-link">
                        <h3>Casca</h3>
                    </a>
                    <p><em><strong>"Luchar por un sueño puede ser una maldición..."</strong></em></p>
                    <img src="https://th.bing.com/th/id/OIP.igb_mt_GbOQyi7X4eqPOcAHaJ5?rs=1&pid=ImgDetMain" alt="Casca" class="img-fluid BC-custom-img mt-2">
                </div>
            </div>

            <!-- Cuarta columna -->
            <div class="col-md-3 mb-4">
                <div class="text-center p-3 border rounded BC-custom-card">
                    <a href="https://berserk.fandom.com/wiki/Skull_Knight" target="_blank" class="BC-custom-link">
                        <h3>Skull Knight</h3>
                    </a>
                    <p><em><strong>"El guerrero eterno que camina en las sombras..."</strong></em></p>
                    <img src="https://i.pinimg.com/originals/40/b6/22/40b622ca120e7a6737a517fe105d5307.png" alt="Skull Knight" class="img-fluid BC-custom-img mt-2">
                </div>
            </div>

            <!-- Quinta columna -->
            <div class="col-md-3 mb-4">
                <div class="text-center p-3 border rounded BC-custom-card">
                    <a href="https://berserk.fandom.com/wiki/Femto" target="_blank" class="BC-custom-link">
                        <h3>Femto</h3>
                    </a>
                    <p><em><strong>"El apóstol nacido de un sacrificio..."</strong></em></p>
                    <img src="https://th.bing.com/th/id/OIP.yEle-VG8NwY3wCtPerhPGAHaJm?rs=1&pid=ImgDetMain" alt="Femto" class="img-fluid BC-custom-img mt-2">
                </div>
            </div>

            <!-- Sexta columna -->
            <div class="col-md-3 mb-4">
                <div class="text-center p-3 border rounded BC-custom-card">
                    <a href="https://berserk.fandom.com/wiki/Zodd" target="_blank" class="BC-custom-link">
                        <h3>Zodd</h3>
                    </a>
                    <p><em><strong>"El inmortal guerrero apóstol..."</strong></em></p>
                    <img src="https://th.bing.com/th/id/OIP.nY76eiSupBrY_ZOTkDYKqQHaH_?rs=1&pid=ImgDetMain" alt="Zodd" class="img-fluid BC-custom-img mt-2">
                </div>
            </div>

            <!-- Séptima columna -->
            <div class="col-md-3 mb-4">
                <div class="text-center p-3 border rounded BC-custom-card">
                    <a href="https://berserk.fandom.com/wiki/Slan" target="_blank" class="BC-custom-link">
                        <h3>Slan</h3>
                    </a>
                    <p><em><strong>"Un miembro de la Mano de Dios..."</strong></em></p>
                    <img src="https://vignette.wikia.nocookie.net/berserk/images/3/36/Manga_E74_Slan_Manifests.png/revision/latest?cb=20190406001654" alt="Slan" class="img-fluid BC-custom-img mt-2">
                </div>
            </div>

            <!-- Octava columna -->
            <div class="col-md-3 mb-4">
                <div class="text-center p-3 border rounded BC-custom-card">
                    <a href="https://berserk.fandom.com/wiki/Farnese_de_Vandimion" target="_blank" class="BC-custom-link">
                        <h3>Farnese de Vandimion</h3>
                    </a>
                    <p><em><strong>"La noble que busca redención..."</strong></em></p>
                    <img src="https://i.pinimg.com/736x/36/c1/0a/36c10ab10601d64075dd88c331722a13.jpg" alt="Farnese" class="img-fluid BC-custom-img mt-2">
                </div>
            </div>
        </div>
    </div>
</body>