@page
@{
    ViewData["Title"] = "Anime favorito";
}

<body class="BC-page">
    <div class="container">
        <div class="text-center mb-4">
            <h1 class="display-6">Black Clover</h1>
            <h3 class="text-secondary font-italic">
                Flipantes aventuras para ser el Rey mago del niño gritón y su amigo el prota
            </h3>
        </div>
    </div>

    <div class="row">
        <!-- Primera columna -->
        <div class="col-md-3 mb-4">
            <div class="text-center p-3 border rounded BC-custom-card">
                <a href="https://ficcion-sin-limites.fandom.com/es/wiki/Yami_Sukehiro" target="_blank" class="BC-custom-link">
                    <h3>YAMI SUKEHIRO</h3>
                </a>
                <p><em><strong>"Sr. Destino, ¿eh? Odio las tripas de ese bastardo. ¿Quién siquiera le prestaría atención? Lo destrozaría y haría lo que me diera la gana."</strong></em></p>
                <img src="https://preview.redd.it/ho23d4fdjyz51.jpg?width=640&crop=smart&auto=webp&s=7226f221ff581a17790db3be79bafe2fdb40d8c3" alt="Imagen representativa 1" class="img-fluid BC-custom-img mt-2">
            </div>
        </div>

        <!-- Segunda columna -->
        <div class="col-md-3 mb-4">
            <div class="text-center p-3 border rounded BC-custom-card">
                <a href="https://ficcion-sin-limites.fandom.com/es/wiki/Asta" target="_blank" class="BC-custom-link">
                    <h3>ASTA</h3>
                </a>
                <p><em><strong>"¡¡¡MI MAGIA ES NUNCA RENDIRME!!!"</strong></em></p>
                <img src="https://i.pinimg.com/736x/c9/e0/b7/c9e0b7a7c168b62c0071653f82a16370.jpg" alt="Imagen representativa 2" class="img-fluid BC-custom-img mt-2">
            </div>
        </div>

        <!-- Tercera columna -->
        <div class="col-md-3 mb-4">
            <div class="text-center p-3 border rounded BC-custom-card">
                <a href="https://ficcion-sin-limites.fandom.com/es/wiki/Yuno_Grinberryall" target="_blank" class="BC-custom-link">
                    <h3>YUNO GRINBERRYALL</h3>
                </a>
                <p><em><strong>"¡¡¡ODIO PERDER!!! ¡¡¡MÁS QUE NADA EN EL MUNDO!!!"</strong></em></p>
                <img src="https://preview.redd.it/how-would-yuno-black-clover-work-if-he-was-a-character-in-v0-chb8lspe87fb1.jpg?width=640&crop=smart&auto=webp&s=25f17ea82826f6a7a5d06cb08dbd24d5db8e0daa" alt="Imagen representativa 6" class="img-fluid BC-custom-img mt-2">
            </div>
        </div>

        <!-- Cuarta columna -->
        <div class="col-md-3 mb-4">
            <div class="text-center p-3 border rounded BC-custom-card">
                <a href="https://ficcion-sin-limites.fandom.com/es/wiki/Mimosa_Vermillion" target="_blank" class="BC-custom-link">
                    <h3>MIMOSA VERMILLION</h3>
                </a>
                <p><em><strong>"¡¡No necesito una razón para salvar a alguien que está muriendo!! ¡¡Ni siquiera si eres un enemigo o de otra raza!!"</strong></em></p>
                <img src="https://image.civitai.com/xG1nkqKTMzGDvpLrqFT7WA/61e6635a-c32a-408b-9940-f3cdb25da8ac/width=1200/61e6635a-c32a-408b-9940-f3cdb25da8ac.jpeg" alt="Imagen representativa 4" class="img-fluid BC-custom-img mt-2">
            </div>
        </div>

        <!-- Quinta columna -->
        <div class="col-md-3 mb-4">
            <div class="text-center p-3 border rounded BC-custom-card">
                <a href="https://ficcion-sin-limites.fandom.com/es/wiki/Mereoleona_Vermillion" target="_blank" class="BC-custom-link">
                    <h3>MEREOLEONA VERMILLION</h3>
                </a>
                <p><em><strong>"Nada es más fuerte que una mujer determinada."</strong></em></p>
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/990555f3-7139-4e8d-8ed0-83d23301e738/dedqyjm-0be40432-5e7d-48f1-aa3c-cd6046fff391.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzk5MDU1NWYzLTcxMzktNGU4ZC04ZWQwLTgzZDIzMzAxZTczOFwvZGVkcXlqbS0wYmU0MDQzMi01ZTdkLTQ4ZjEtYWEzYy1jZDYwNDZmZmYzOTEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.kjthFYEJ9hTmLn3w8Gecs3tJx2Hda8mn_xloK_BfQNg" alt="Imagen representativa 5" class="img-fluid BC-custom-img mt-2">
            </div>
        </div>

        <!-- Sexta columna -->
        <div class="col-md-3 mb-4">
            <div class="text-center p-3 border rounded BC-custom-card">
                <a href="https://ficcion-sin-limites.fandom.com/es/wiki/Zora_Ideale" target="_blank" class="BC-custom-link">
                    <h>ZORA IDEALE</h>
                </a>
                <p><em><strong>"Si quiero evolucionar, no me puedo limitar a lo que ya sé hacer."</strong></em></p>
                <img src="https://pm1.aminoapps.com/7206/def352eaf50f9820535f7598ff4afb7f1da1b45br1-709-1127v2_hq.jpg" alt="Imagen representativa 3" class="img-fluid BC-custom-img mt-2">
            </div>
        </div>

        <!-- Séptima columna -->
        <div class="col-md-3 mb-4">
            <div class="text-center p-3 border rounded BC-custom-card">
                <a href="https://ficcion-sin-limites.fandom.com/es/wiki/Secre_Swallowtail" target="_blank" class="BC-custom-link">
                    <h3>SECRE SWALLOWTAIL</h3>
                </a>
                <p><em><strong>"¡¡Aquellos a los que menospreciaste, pisaste y jugaste te van a derrotar hoy!!"</strong></em></p>
                <img src="https://images-ng.pixai.art/images/orig/03ccc2e3-a782-4b34-8bd9-290242c13200" alt="Imagen representativa 7" class="img-fluid BC-custom-img mt-2">
            </div>
        </div>

        <!-- Octava columna -->
        <div class="col-md-3 mb-4">
            <div class="text-center p-3 border rounded BC-custom-card">
                <a href="https://ficcion-sin-limites.fandom.com/es/wiki/Noelle_Silva#I" target="_blank" class="BC-custom-link">
                    <h3>
                        NOELLE SILVA
                    </h3>
                </a>
                <p><em><strong>"¡Como te atreves a dejarme atrás, especialmente a mi!"</strong></em></p>
                <img src="https://image.civitai.com/xG1nkqKTMzGDvpLrqFT7WA/ece6e5d0-1eeb-4d84-9955-fdc71fbe3c58/width=450/00000-1551342862.jpeg" alt="Imagen representativa 8" class="img-fluid BC-custom-img mt-2">
            </div>
        </div>
    </div>
</body>