@page
@{
    ViewData["Title"] = "Anime favorito";
}

<div class="container">
    <div class="text-center mb-4">
        <h1 class="display-6">Blue Lock</h1>
        <h3 class="text-secondary font-italic">
            Serie de fútbol japonesa donde todos son egoístas y se quieren devorar
        </h3>
    </div>
</div>

<div class="row">
    <!-- Primera columna -->
    <div class="col-md-3 mb-4">
        <div class="text-center p-3 border rounded BL-custom-card">
            <a href="https://bluelock.fandom.com/es/wiki/Yoichi_Isagi" target="_blank" class="BL-custom-link">
                <h3>ISAGI YOICHI</h3>
            </a>
            <p><em><strong>"Si no supero a alguien mejor que yo, entonces nunca cambiaré."</strong></em></p>
            <img src="https://a.storyblok.com/f/178900/1242x2208/faf398f42c/b89badbc1dc16c948abd2d010586bf471679681195_main.jpg/m/filters:quality(95)format(webp)" alt="Imagen representativa 1" class="img-fluid BL-custom-img mt-2">
        </div>
    </div>

    <!-- Segunda columna -->
    <div class="col-md-3 mb-4">
        <div class="text-center p-3 border rounded BL-custom-card">
            <a href="https://bluelock.fandom.com/es/wiki/Meguru_Bachira" target="_blank" class="BL-custom-link">
                <h3>MEGURU BACHIRA</h3>
            </a>
            <p><em><strong>"Si hay que derrotar a alguien, hay que derrotar al mejor de todos."</strong></em></p>
            <img src="https://a.storyblok.com/f/178900/1242x2208/a07f35548a/ea6e18f80dd14b0700d8cf50a319a9ef1679684478_main.jpg/m/filters:quality(95)format(webp)" alt="Imagen representativa 2" class="img-fluid BL-custom-img mt-2">
        </div>
    </div>

    <!-- Tercera columna -->
    <div class="col-md-3 mb-4">
        <div class="text-center p-3 border rounded BL-custom-card">
            <a href="https://bluelock.fandom.com/es/wiki/Seishiro_Nagi" target="_blank" class="BL-custom-link">
                <h3>SEISHIRO NAGI</h3>
            </a>
            <p><em><strong>"Ladras mucho para haber perdido."</strong></em></p>
            <img src="https://a.storyblok.com/f/178900/1242x2208/81b7d86781/307215699e014537133863e0b0eb2c7c1679685115_main.jpg/m/filters:quality(95)format(webp)" alt="Imagen representativa 6" class="img-fluid BL-custom-img mt-2">
        </div>
    </div>

    <!-- Cuarta columna -->
    <div class="col-md-3 mb-4">
        <div class="text-center p-3 border rounded BL-custom-card">
            <a href="https://bluelock.fandom.com/es/wiki/Hyoma_Chigiri" target="_blank" class="BL-custom-link">
                <h3>HYOMA CHIGIRI</h3>
            </a>
            <p><em><strong>"Ya no me importa. Si se rompe de nuevo, que así sea. El mejor delantero...soy yo!"</strong></em></p>
            <img src="https://a.storyblok.com/f/178900/1242x2208/f6fdcdda80/544c8b5987bbdf292c504d0ed57c482a1679684926_main.jpg/m/filters:quality(95)format(webp)" alt="Imagen representativa 4" class="img-fluid BL-custom-img mt-2">
        </div>
    </div>

    <!-- Quinta columna -->
    <div class="col-md-3 mb-4">
        <div class="text-center p-3 border rounded BL-custom-card">
            <a href="https://bluelock.fandom.com/es/wiki/Shoei_Barou" target="_blank" class="BL-custom-link">
                <h3>SHOUEI BAROU</h3>
            </a>
            <p><em><strong>"Huir de la realidad es para los que tienen los sueños rotos y no soportan la vida que han llevado hasta ahora. Es la excusa de un perdedor."</strong></em></p>
            <img src="https://a.storyblok.com/f/178900/1242x2208/1d751f3d91/1d5334fb4faaa733418ea76f273bee3d1679685013_main.jpg/m/filters:quality(95)format(webp)" alt="Imagen representativa 5" class="img-fluid BL-custom-img mt-2">
        </div>
    </div>

    <!-- Sexta columna -->
    <div class="col-md-3 mb-4">
        <div class="text-center p-3 border rounded BL-custom-card">
            <a href="https://bluelock.fandom.com/es/wiki/Rensuke_Kunigami" target="_blank" class="BL-custom-link">
                <h3>RENSUKE KUNIGAMI</h3>
            </a>
            <p><em><strong>"Si quiero evolucionar, no me puedo limitar a lo que ya sé hacer."</strong></em></p>
            <img src="https://a.storyblok.com/f/178900/1242x2208/a73621f0df/d0fc554db36a3eb296c6827fad25257f1679684666_main.jpg/m/filters:quality(95)format(webp)" alt="Imagen representativa 3" class="img-fluid BL-custom-img mt-2">
        </div>
    </div>

    <!-- Séptima columna -->
    <div class="col-md-3 mb-4">
        <div class="text-center p-3 border rounded BL-custom-card">
            <a href="https://bluelock.fandom.com/es/wiki/Rin_Itoshi" target="_blank" class="BL-custom-link">
                <h3>RIN ITOSHI</h3>
            </a>
            <p><em><strong>"La suerte no es factor casual, es el elemento oculto en el campo que sonríe a los que siguen su deseo. Si no puedes entender eso, no puedes vivir en un mundo de victorias y derrotas."</strong></em></p>
            <img src="https://a.storyblok.com/f/178900/1242x2208/ab1a78dc30/8400e425976460c32bd9753c275c60531679685203_main.jpg/m/filters:quality(95)format(webp)" alt="Imagen representativa 7" class="img-fluid BL-custom-img mt-2">
        </div>
    </div>

    <!-- Octava columna -->
    <div class="col-md-3 mb-4">
        <div class="text-center p-3 border rounded BL-custom-card">
            <a href="https://bluelock.fandom.com/es/wiki/Jinpachi_Ego" target="_blank" class="BL-custom-link">
                <h3>JINPACHI EGO</h3>
            </a>
            <p><em><strong>"¿Qué es el fútbol? ¿Son 11 personas colaborando entre sí? ¿Valoran sus vínculos? ¿El sacrificio? ¿Jugar para sus compañeros? Es por eso que el fútbol de Japón no va para ningún lado. La respuesta es simple: el fútbol consiste en meter más goles que el rival. El que mete más goles es el mejor. Si quieren jugar amistosamente, váyanse."</strong></em></p>
            <img src="https://a.storyblok.com/f/178900/1242x2208/0c1bb67fb7/070fc0f1f74fc7315c9dbff0766ae1281679685282_main.jpg/m/filters:quality(95)format(webp)" alt="Imagen representativa 8" class="img-fluid BL-custom-img mt-2">
        </div>
    </div>
</div>
