@page
@{
    ViewData["Title"] = "Hunter X Hunter";
}

<body class="bodyHunter">
    <div class="container">
        <div class="text-center mb-4 BKH">
            <h1 class="display-6 BKH">Hunter X Hunter</h1>
        </div>

        <div class="row">
            <!-- 1 -->
            <div class="col-md-3 mb-4">
                <div class="text-center p-3 border rounded BC-custom-card">
                    <a href="https://hunterxhunter.fandom.com/es/wiki/Gon_Freecss" target="_blank" class="BC-custom-link">
                        <h3>
                            Gon Freecss
                        </h3>
                    </a>
                    <p><em><strong>" ¡¡No puedo soportar estar en el lado perdedor siempre!! "</strong></em></p>
                    <img src="https://i.pinimg.com/474x/72/c7/dc/72c7dccf0b0e8ad958ab0f20d175a639.jpg" alt="Imagen representativa 1" class="img-fluid BC-custom-img mt-2">
                </div>
            </div>

            <!-- 2 -->
            <div class="col-md-3 mb-4">
                <div class="text-center p-3 border rounded BC-custom-card">
                    <a href="https://hunterxhunter.fandom.com/es/wiki/Killua_Zoldyck" target="_blank" class="BC-custom-link">
                        <h3>
                            Killua Zoldyck
                        </h3>
                    </a>
                    <p><em><strong>" Si abandono a un amigo a quien puedo ayudar, ¿acaso no sería una traición? ""</strong></em></p>
                    <img src="https://pm1.aminoapps.com/6362/348a81339a6db9a3b9c538326b9583db3c33bc22_hq.jpg" alt="Imagen representativa 1" class="img-fluid BC-custom-img mt-2">
                </div>
            </div>

            <!-- 3 -->
            <div class="col-md-3 mb-4">
                <div class="text-center p-3 border rounded BC-custom-card">
                    <a href="https://hunterxhunter.fandom.com/es/wiki/Kurapika" target="_blank" class="BC-custom-link">
                        <h3>
                            Kurapika
                        </h3>
                    </a>
                    <p><em><strong>" No le temo a la muerte. Tan solo temo que mi rabia se desvanezca con el tiempo. "</strong></em></p>
                    <img src="https://i.pinimg.com/474x/11/a6/0a/11a60a1fd8c74a675308549d7c57d8df.jpg" alt="Imagen representativa 1" class="img-fluid BC-custom-img mt-2">
                </div>
            </div>

            <!-- 4 -->
            <div class="col-md-3 mb-4">
                <div class="text-center p-3 border rounded BC-custom-card">
                    <a href="https://hunterxhunter.fandom.com/es/wiki/Isaac_Netero" target="_blank" class="BC-custom-link">
                        <h3>
                            Isaac Netero
                        </h3>
                    </a>
                    <p><em><strong>" Rey de las hormigas Meruem, eres tú el que no entiende nada... ¡¡El potencial de la humanidad para la evolución es infinito!! "</strong></em></p>
                    <img src="https://i.pinimg.com/564x/bf/78/0e/bf780edcb963bf10b705527d5ba55781.jpg" alt="Imagen representativa 1" class="img-fluid BC-custom-img mt-2">
                </div>
            </div>

            <!-- 5 -->
            <div class="col-md-3 mb-4">
                <div class="text-center p-3 border rounded BC-custom-card">
                    <a href="https://hunterxhunter.fandom.com/es/wiki/Hisoka_Morow" target="_blank" class="BC-custom-link">
                        <h3>
                            Hisoka Morow
                        </h3>
                    </a>
                    <p><em><strong>" Nunca habla acerca de su pasado, no tiene interés en el pasado, me imagino que para mañana habrá olvidado del rostro de Kastro. No se asocia con otros, no le pertenece a nadie. Por qué el cree que es el más fuerte. "</strong></em></p>
                    <img src="https://i.pinimg.com/736x/56/0f/56/560f5672a06910862e7b316fcf1da9e6.jpg" alt="Imagen representativa 1" class="img-fluid BC-custom-img mt-2">
                </div>
            </div>

            <!-- 6 -->
            <div class="col-md-3 mb-4">
                <div class="text-center p-3 border rounded BC-custom-card">
                    <a href="https://hunterxhunter.fandom.com/es/wiki/Meruem" target="_blank" class="BC-custom-link">
                        <h3>
                            Meruem
                        </h3>
                    </a>
                    <p><em><strong>" Después de conocer a Komugi, aprendí que la fuerza se manifiesta de muchas formas. Por ejemplo, en nuestro viaje aquí, maté a un niño. Es posible que ese niño tuviera el potencial de superarme en algún ámbito. Pero extinguí ese potencial. Lo extinguí sin ninguna razón[...]Tomé una vida sin razón ¡Es una demostración de fuerza! ¡Llego sin advertencia a tomar el poder de los débiles! ¡A aplastar! ¡A destruir! ¡Ese es mi poder! ¡La fuerza bruta es el poder más grande del mundo! "</strong></em></p>
                    <img src="https://i.pinimg.com/474x/01/29/18/012918ce1589c7670ecf8dfa6d43d2fa.jpg" alt="Imagen representativa 1" class="img-fluid BC-custom-img mt-2">
                </div>
            </div>

            <!-- 7 -->
            <div class="col-md-3 mb-4">
                <div class="text-center p-3 border rounded BC-custom-card">
                    <a href="https://hunterxhunter.fandom.com/es/wiki/Chrollo_Lucilfer" target="_blank" class="BC-custom-link">
                        <h3>
                            Chrollo Lucilfer
                        </h3>
                    </a>
                    <p><em><strong>" Viviré el resto de mi vida como un villano. Hasta que todas las personas del mundo tiemblen de miedo al pensar en mí. Para que la escoria tiemble y nunca más se acerquen a Ciudad Meteoro. Rediseñaré la ciudad junto con mi persona. "</strong></em></p>
                    <img src="https://i.pinimg.com/736x/bc/2e/6e/bc2e6e461b730ed710fd44bf2d2c5a04.jpg" alt="Imagen representativa 1" class="img-fluid BC-custom-img mt-2">
                </div>
            </div>

            <!-- 8 -->
            <div class="col-md-3 mb-4">
                <div class="text-center p-3 border rounded BC-custom-card">
                    <a href="https://hunterxhunter.fandom.com/es/wiki/Neferpitou" target="_blank" class="BC-custom-link">
                        <h3>
                            Neferpitou
                        </h3>
                    </a>
                    <p><em><strong>" Yo no era digno de su lealtad. "</strong></em></p>
                    <img src="https://ami.animecharactersdatabase.com/uploads/chars/5688-1340606550.jpg" alt="Imagen representativa 1" class="img-fluid BC-custom-img mt-2">
                </div>
            </div>
        </div>
    </div>
</body>
