@page
@{
    ViewData["Title"] = "Anime favorito";
}

<div class="container">
    <div class="text-center mb-4">
        <h1 class="display-6">Toilet-bound Hanako-kun</h1>
        <h3 class="text-secondary font-italic">
            Las aventurillas del niño fantasma del baño de chicas
        </h3>
    </div>
</div>

<div class="row">
    <!-- Primera columna -->
    <div class="col-md-3 mb-4">
        <div class="text-center p-3 p-3 border rounded TH-custom-card">
            <a href="https://hanako-kun.fandom.com/wiki/Hanako" target="_blank" class="TH-custom-link">
                <h3>HANAKO-KUN (YUGI AMANE)</h3>
            </a>
            <p><em><strong>"Es solo que... Cada vez que miro esa roca, siento que podría ir a cualquier parte. Pero... ya tomé una decisión: no iré a ninguna parte."</strong></em></p>
            <img src="https://i.pinimg.com/564x/6e/ea/6d/6eea6dd55f45ed64f49c5890f1a841c9.jpg" alt="Imagen representativa 1" class="img-fluid TH-custom-img mt-2">
        </div>
    </div>

    <!-- Segunda columna -->
    <div class="col-md-3 mb-4">
        <div class="text-center p-3 border rounded TH-custom-card">
            <a href="https://hanako-kun.fandom.com/wiki/Yugi_Tsukasa" target="_blank" class="TH-custom-link">
                <h4>YUGI TSUKASA</h4>
            </a>
            <p><em><strong>"Soy un ser sobrenatural. Por el precio justo, concederé el deseo de quien me invoque."</strong></em></p>
            <img src="https://i.pinimg.com/564x/72/d0/fd/72d0fd948eb0804fc0b0f66d13c89335.jpg" alt="Imagen representativa 2" class="img-fluid TH-custom-img mt-2">
        </div>
    </div>

    <!-- Tercera columna -->
    <div class="col-md-3 mb-4">
        <div class="text-center p-3 border rounded TH-custom-card">
            <a href="https://hanako-kun.fandom.com/wiki/Yashiro_Nene" target="_blank" class="TH-custom-link">
                <h3>YASHIRO NENE</h3>
            </a>
            <p><em><strong>"Lo haré. ¡Quiero volver a ser humana! ¡Por favor, Hanako-san! ¡ Hazme humana de nuevo!"</strong></em></p>
            <img src="https://i.pinimg.com/236x/2f/77/c5/2f77c513302f137c4e596c432142a63a.jpg" alt="Imagen representativa 6" class="img-fluid TH-custom-img mt-2">
        </div>
    </div>

    <!-- Cuarta columna -->
    <div class="col-md-3 mb-4">
        <div class="text-center p-3 border rounded TH-custom-card">
            <a href="https://hanako-kun.fandom.com/wiki/Minamoto_Kou" target="_blank" class="TH-custom-link">
                <h3>MINAMOTO KOU</h3>
            </a>
            <p><em><strong>"Me llevará algo de tiempo... Me volveré más fuerte como tú, Teru-nii. Y luego decidiré qué hacer. Si es necesario, ¡lo exorcizaré! ¡Así que no le toques!"</strong></em></p>
            <img src="https://somoskudasai.com/wp-content/uploads/2019/11/Hikaru.jpg" alt="Imagen representativa 4" class="img-fluid TH-custom-img mt-2">
        </div>
    </div>

    <!-- Quinta columna -->
    <div class="col-md-3 mb-4">
        <div class="text-center p-3 border rounded TH-custom-card">
            <a href="https://hanako-kun.fandom.com/wiki/Mitsuba_Sousuke" target="_blank" class="TH-custom-link">
                <h3>MITSUBA SOUSUKE</h3>
            </a>
            <p><em><strong>"Intenté hablar con... cada persona que pensé que era mi amiga... Pero ninguno de ellos sabía que era yo. ...Sólo yo... lo recordaba."</strong></em></p>
            <img src="https://i.pinimg.com/236x/78/59/58/785958cef77db36e78e4a4318def6274.jpg" alt="Imagen representativa 5" class="img-fluid TH-custom-img mt-2">
        </div>
    </div>

    <!-- Sexta columna -->
    <div class="col-md-3 mb-4">
        <div class="text-center p-3 border rounded TH-custom-card">
            <a href="https://hanako-kun.fandom.com/wiki/Minamoto_Teru" target="_blank" class="TH-custom-link">
                <h4>MINAMOTO TERU</h4>
            </a>
            <p><em><strong>"Los seres sobrenaturales siempre serán un peligro para los vivos. No existe nada parecido a un "ser sobrenatural bueno"."</strong></em></p>
            <img src="https://i.pinimg.com/564x/04/41/c8/0441c8b483d145c4d1397404c0c3a090.jpg" alt="Imagen representativa 3" class="img-fluid TH-custom-img mt-2">
        </div>
    </div>

    <!-- Séptima columna -->
    <div class="col-md-3 mb-4">
        <div class="text-center p-3 border rounded TH-custom-card">
            <a href="https://hanako-kun.fandom.com/wiki/Aoi_Akane" target="_blank" class="TH-custom-link">
                <h3>AOI AKANE</h3>
            </a>
            <p><em><strong>"Decidí que protegería a Ao-chan... incluso si ella nunca mirara en mi dirección."</strong></em></p>
            <img src="https://i.pinimg.com/564x/f4/86/09/f48609ff1fed8b99aa435124b429ec4d.jpg" alt="Imagen representativa 7" class="img-fluid TH-custom-img mt-2">
        </div>
    </div>

    <!-- Octava columna -->
    <div class="col-md-3 mb-4">
        <div class="text-center p-3 border rounded TH-custom-card">
            <a href="https://hanako-kun.fandom.com/wiki/Akane_Aoi" target="_blank" class="TH-custom-link">
                <h3>AKANE AOI</h3>
            </a>
            <p><em><strong>"¡Muy bien! No soy precisamente fan de las historias de miedo, pero te contaré todas las que quieras, Nene-chan, ¡si eso te ayuda a sentirte mejor!"</strong></em></p>
            <img src="https://i.pinimg.com/564x/6e/c9/d6/6ec9d6b715446fb24fd82cd0451eac90.jpg" alt="Imagen representativa 8" class="img-fluid TH-custom-img mt-2">
        </div>
    </div>
</div>
