
/* Estilos del cuerpo */
.bodyberseker {
    background-image: url('https://64.media.tumblr.com/7b6720a60c8d2ac263bb76aaccd928c2/tumblr_nald8sMWHt1tysz53o1_500.gifv');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

.containerberserker {
    background: #000000; /* Fondo negro */
    padding: 1rem 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    color: #000000; /* Color de texto blanco para contraste con el fondo negro */
}

/* Estilo para la clase BK */
.BK {
    color: red; /* Color inicial del texto */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

    /* Cambia la tonalidad del rojo cuando el cursor está encima */
    .BK:hover {
        color: darkred; /* Color más oscuro de rojo cuando el cursor está encima */
    }
