/* Estilos del cuerpo */
body {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230523/pngtree-3d-blue-hexagonal-wallpaper-4k-hd-desktop-wallpapers-image_2602737.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

/* Estilos del contenedor */
.container {
    background: linear-gradient(to bottom right, #f0f0f0, #ffffff);
    padding: 1rem 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* Estilos de las tarjetas */
.BL-custom-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #ffffff; /* Fondo blanco para las tarjetas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra en las tarjetas */
}

    .BL-custom-card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

/* Estilos de las imágenes */
.BL-custom-img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.BL-custom-card:hover .BL-custom-img {
    transform: scale(1.1);
}

/* Estilos del enlace */
.BL-custom-link {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: inherit; /* Hereda el color del texto */
}

    .BL-custom-link:focus, .BL-custom-link:active {
        outline: none; /* Elimina el borde al hacer clic */
        box-shadow: none; /* Elimina la sombra al hacer clic */
    }


/* Espaciado en imágenes */
.mt-2 {
    margin-top: 0.5rem;
}
